# macOS
.DS_Store

# Xcode user state
*.xcuserstate
xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

# Xcode build products
build/
DerivedData/
*.xcarchive
*.ipa
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Packages/

# Xcode source control metadata
*.moved-aside
*.xccheckout
*.xcscmblueprint
